/* Custom CSS */


body {
    background-color: rgb(255, 255, 255);
}

.logo {
    width: 10%;
}

.rounded-full {
    border-radius: 50%;
}

.width-10 {
    width: 10%;
}

.width-20 {
    width: 20%;
}

.width-25 {
    width: 25%;
}

.width-30 {
    width: 30%;
}

.width-90 {
    width: 90%;
}

.width-100{
    width: 100%;
}

.border-none {
    border: none !important;
}

.border-blue {
    border: 1px solid #40b9ff;
    border-radius: 0.5em;
}

.flex-shrink {
    flex-shrink: 0;
}

.border-bottom {
    border-bottom: 1px;
}

.is-danger {
    color: red;
}

.word-wrap {
    word-wrap: break-word;
}

.aside-friends {
    border-radius: 1em;
    padding: 1%;
    background-color: #68acd36b;
    height: max-content;
}

.relative {
    position: relative;
}

.image-profile-banner {
    position: absolute;
    width: 150px;
    top: 75%;
    left: 40%;
    /* top: 46%;
    width: 150px;
    left: calc(50% - 75px); 
    transform: translateX(-50%) translateY(50%)  */
}

.banner {
    border-radius: 1em;
}

.shadow {
    box-shadow: 8px 5px #c4c4c3;
}