/* Custom CSS */


body {
    background-color: rgb(255, 255, 255);
}

.logo {
    width: 10%;
}

.rounded-full {
    border-radius: 50%;
}

.width-20 {
    width: 20%;
}

.width-100{
    width: 100%;
}

.border-none {
    border: none !important;
}

.border-blue {
    border: 1px solid #40b9ff;
    border-radius: 0.5em;
}

.flex-shrink {
    flex-shrink: 0;
}

.border-bottom {
    border-bottom: 1px;
}