/* Custom CSS */


body {
    background-color: rgb(255, 255, 255);
}

.logo {
    width: 10%;
}

.rounded-full {
    border-radius: 50%;
}

.width-8 {
    width: 8%;
}

.width-10 {
    width: 10%;
}

.width-20 {
    width: 20%;
}

.width-25 {
    width: 25%;
}

.width-30 {
    width: 30%;
}

.width-90 {
    width: 90%;
}

.width-100{
    width: 100%;
}

.border-none {
    border: none !important;
}

.border-blue {
    border: 1px solid #40b9ff;
    border-radius: 0.5em;
}

.flex-shrink {
    flex-shrink: 0;
}

.border-bottom {
    border-bottom: 1px;
}

.is-danger {
    color: red;
}

.word-wrap {
    word-wrap: break-word;
}

.aside-friends {
    border-radius: 1em;
    padding: 1%;
    background-color: #68acd36b;
    height: max-content;
}

.relative {
    position: relative;
}

.image-profile-banner {
    position: absolute;
    width: 150px;
    top: 75%;
    left: 40%;
    /* top: 46%;
    width: 150px;
    left: calc(50% - 75px); 
    transform: translateX(-50%) translateY(50%)  */
}

.image-preview {
    width: 25%;
    border-radius: 50%;
    box-shadow: 3px 5px 4px #c4c4c3;
    padding: 2px;
    margin-top: 2%;
}

.banner {
    border-radius: 1em;
}

.shadow {
    box-shadow: 8px 5px #c4c4c3;
}

.card-body {
    background: #d8f5ff;
}

.name-container {
    max-width: 270px;
}

svg {
    max-width: 5%;
}

.display-links {
    text-align: center;
    width: 100%;
}

.display-links div {
    padding: 1%;
}

.gradient-background {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100;Blue+3D+%2313 */
    background: #f0f9ff; /* Old browsers */
    background: -moz-linear-gradient(left,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=1 ); /* IE6-9 */

}
